* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f0d9e7;
    height: 100vh;
}

a {
    float: left;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    color: #b2b1b9;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

.form {
    margin-left: 20px;
    display: flex;
}

.albumsHolder {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
}

.mainTitle {
    text-align: center;
    background-color: #6f4c5b;
    height: 60px;
    padding-top: 20px;
    color: white;
    margin-bottom: 20px;
}

.albumDiv {
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    padding: 5px;
    background-color: white;
}

.albumDiv p {
    color: #6f4c5b;
    line-height: 25px;
}

.albumDiv img {
    width: 100%;
}