* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #6f4c5b;
    height: 80px;
    margin-bottom: 10px;
}

nav {
    float: left;
    padding: 15px;
}

a {
    font-size: 20px;
    padding: 0px 10px;
    text-decoration: none;
    color: #b2b1b9;
}

main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    gap: 30px;
}

.form {
    margin-left: 20px;
    display: flex;
}

.albumDiv {
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    padding: 5px;
    background-color: white;
}

.albumDiv p {
    color: #6f4c5b;
    line-height: 25px;
}

.albumDiv img {
    width: 100%;
}

.oneSong {
    width: 225px;
    border: 1px solid;
    background-color: #696165;
    color: white;
    padding: 10px;
    margin: 10px;
}

.oneSong p {
    line-height: 25px;
}

.oneSong img {
    width: 100%;
}