<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="oneAlbum.css" />
</head>

<body>
    <header>
        <nav>
            <a href="http://localhost:8080">Home</a>
            <a href="http://localhost:8080/albums">Browse albums</a>
            <a href="http://localhost:8080/song">Browse Songs</a>
        </nav>
    </header>
    <main>
        <div class="form">
            <h1>Add New Song</h1>
            <br />
            <form action="#" th:action="@{/addsong}" method="post">
                <input type="hidden" field="*{id}" name="id" th:value="${album.id}" />
                <br />
                <p>Song title: <input type="text" field="*{title}" name="title" required /></p>
                <br />
                <p>Song length: <input type="number" field="*{length}" name="length" required /></p>
                <br />
                <p>Track number: <input type="number" min="1" field="*{trackNumber}" name="trackNumber" required /></p>
                <br />
                <p>Submit <input type="submit" value="Submit" /></p>
                <br />
            </form>
        </div>

        <div class="albumDiv">
            <p>Album title :<span th:text="${album.title}"></span></p>
            <p>Artist Name :<span th:text="${album.artist}"></span></p>
            <p>Number of songs :<span th:text="${album.songCount}"></span></p>
            <p>Total length :<span th:text="${album.length}"></span></p>
            <img th:src="${album.imageUrl}" />
        </div>
        <div class="songsHolder">
            <div th:each="song : ${songs}" class="oneSong">
                <p>Song title :<span th:text="${song.title}"></span></p>
                <p>Song length :<span th:text="${song.length}"></span></p>
                <p>Track number :<span th:text="${song.trackNumber}"></span></p>
            </div>
        </div>
    </main>
</body>

</html>